/* General Styles */
.login-card {
    background-color: #ffffff; /* White background */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Increased box shadow for depth */
    border-radius: 15px; /* Rounded corners */
    padding: 40px; /* Increased padding for spacing */
    width: 90%;
    max-width: 400px; /* Maximum width for responsiveness */
    margin: 0 auto; /* Center the card horizontally */
    text-align: center;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333; /* Text color */
}

/* Form Styles */
.login-card form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.forgotlink{
    cursor: pointer;
    margin-top: 10px;
    margin-left: 190px;
    color: #0056b3;
}
.spanforcheck{
    cursor: pointer;
    color: #0056b3;
}
.login-card input {
    padding: 15px; /* Increased padding for input fields */
    border: 2px solid #ddd; /* Light grey border */
    border-radius: 8px; /* Rounded corners */
    font-size: 1.1em; /* Larger font size */
    background-color: #f9f9f9; /* Light grey background */
    color: #555; /* Text color */
}

.login-card input:focus {
    outline: none;
    border-color: #007bff; /* Focus border color */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3); /* Highlight on focus */
}

/* Button Styles */
.login-card button {
    background-color: #007bff; /* Primary button color */
    color: #fff; /* White text color */
    padding: 15px 20px; /* Increased padding for buttons */
    border: none;
    border-radius: 8px; /* Rounded corners */
    cursor: pointer;
    font-size: 1.1em; /* Larger font size */
    transition: background-color 0.3s ease;
    font-weight: bold; /* Bold font weight */
}

.login-card button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

/* Error Message Styles */
.login-card .error {
    color: #dc3545; /* Error message color */
    margin-top: 10px; /* Increased margin for spacing */
    margin-bottom: 20px;
    font-weight: bold; /* Bold font weight */
}

/* Password Input Styles */
.password-input {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

/* Close Button Styles */
.login-card .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5em; /* Larger font size */
    color: #999; /* Light grey color */
    cursor: pointer;
    transition: color 0.3s ease;
}

.login-card .close-button:hover {
    color: #333; /* Darker color on hover */
}
